<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="MemberDao">
	<!-- 중복체크 -->
	<select id="idCheckOfMember" resultType="int" parameterType="String">
		select count(*) from smember where id=#{id}
	</select>
	
	<!-- insert -->
	<insert id="insertOfMember" parameterType="mdto">
		insert into smember values(null, #{name},#{id},#{pass},#{hp},now())
	</insert>
	
	<!-- 전체 출력 -->
	<select id="getAllOfMember" resultType="mdto">
		select * from smember order by num desc
	</select>
	
	<!-- num에 대한 dto값 -->
	<select id="selectOneOfMember" resultType="mdto" parameterType="String">
		select * from smember where num=#{num}
	</select>
	
	<!-- 비밀번호 체크 num과 pass 2개를 넘겨야되서 HashMap사용-->
	<select id="passCheckOfMember" parameterType="HashMap" resultType="int">
		select count(*) from smember where num=#{num} and pass=#{pass}
	</select>
	
	<!-- update -->
	<update id="updateOfMember" parameterType="mdto">
		update smember set name=#{name},hp=#{hp} where num=#{num}
	</update>
	
	<!-- delete -->
	<delete id="deleteOfMember" parameterType="String">
		delete from smember where num=#{num}
	</delete>
 </mapper>